# Reading and Writing Text Files

* CSV 
 * other delimiter
* JSON
* HTML
* EXCEL

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

## 1、Read CSV

resource : https://github.com/jmportilla/Udemy-notes/blob/master/Lec%2025%20-%20Reading%20and%20Writing%20Text%20Files.ipynb

In [2]:
# read CSV file
dframe = pd.read_csv('lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [3]:
# Can also use read_table with ',' as a delimiter
dframe = pd.read_table('lec25.csv',sep = ',')
print(dframe)

dframe = pd.read_table('lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

    q,r,s,t,apple
0    2,3,4,5,pear
1  a,s,d,f,rabbit
2     5,2,5,7,dog

In [9]:
# If we dont want the header to be the first row
dframe = pd.read_csv('lec25.csv',header= None)
print(dframe)

dframe = pd.read_csv('lec25.csv',header = 1) # decide which row to be the header 
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog
   2  3  4  5    pear
0  a  s  d  f  rabbit
1  5  2  5  7     dog

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [13]:
# particular number of rows to be read
dframe = pd.read_csv('lec25.csv',header = None,nrows = 2) 
dframe

# help(dframe)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [ ]:
# we can write DataFrames out to text files
dframe.to_csv('mytextdata_out.csv')

### other delimiter

In [14]:
import sys
# Use sys.stdout to see the output directly and not save it
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear

In [15]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear

In [16]:
# We can also choose to write only a specific subset of columns
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4

## 2、Read Json

resource : https://www.programiz.com/python-programming/json

In [18]:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

import json
# load json data
data = json.loads(json_obj)
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

In [38]:
# WE can also convert back to JSON
json.dumps(data)

{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}

In [39]:
# pretty print
print(json.dumps(data, indent = 4, sort_keys=True))

{
    "clothes": null,
    "diet": [
        {
            "food": "grass",
            "fur": "Brown",
            "zoo_animal": "Gazelle"
        }
    ],
    "food": [
        "Meat",
        "Veggies",
        "Honey"
    ],
    "fur": "Golden",
    "zoo_animal": "Lion"
}

In [36]:
# We can simply open JSON data after loading with a DataFrame
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

## 3、HTML

In [60]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'
# Grab data from html and put it intop a list of DataFrame objects!
dframe_list = pd.io.html.read_html(url)
dframe = dframe_list[0]
dframe

KeyboardInterrupt:

## 4、Excel

In [61]:
# Open the excel file as an object
import pandas as pd
xlsfile = pd.ExcelFile('Lec_28_test.xlsx')

# Parse the first sheet of the excel file and set as DataFrame
dframe = xlsfile.parse('Sheet1')
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365